@font-face {
    font-family: Karla;
    src: url(Karla.ttf); 
    font-style:normal;
    font-weight: 800px;
}

body {
    background-color: #1F2937;
    margin: 115px 145px 10px 50px;
}

#header {    
    width: 400px;
    height: 200px;
}

#line1 {
    font-family: Karla;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.025em;
    margin-bottom: 0;
    color: white;
}

#line2 {
    font-family: Inter;
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -2.5%;
    margin-top: 10px;
    color: #10B981;
}

#supportingText {
    font-family: Inter;
    font-size: 20px;
    line-height: 28px;
    margin-top: 30px;
    color: #D5D4D8;
}

button {
    background-color: #10B981;
    color: white;
    font-family: Inter;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    margin-bottom: 35px;
}

hr {
    border: 1px solid #2F3E53;
    margin-bottom: 35px;
}

p.secret {
    display: none;
    color:#10B981
  }
  